

<h1 [style.color] = 'nameColor' [class.isActive] = "isActive">{{name.toUpperCase()}}</h1>
<img [src]='photoUrl'/>

<!-- <button (click)="changeIsActive()" type="button">przełącz</button> -->
<!-- powyżej jest wywołanie funkcji na onClick (funkcja jest zadeklarowana w component.ts) -->
<button (click)="isActive = !isActive" type="button">przełącz</button>

<button (click)="changeColor()" type="button">przełącz kolor</button>

<br>
<!-- <input type='text' [value]='name' (input) = "name = $event.target.value"/>  -->
<!-- przypisanie do zmiennej danych z inputa -->



<input type="text" [(ngModel)]="name" [ngModelOptions]="{updateOn: 'blur'}"/>
<!-- powyżej deklaracja wiązania dwustronnego, 
  w tym wypadku przypisanie tego co w input do name na onBlur-->
