<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 [style.color] = 'nameColor' [class.isActive] = "isActive">
        {{customer.name.toUpperCase()}}
        <ng-container [ngSwitch]="customer.type">
          <!-- to co chcemy wyświetlić uzalezniamy od typu klienta dlatego przy ngSwitch dodaliśmy customer.type -->
          <ng-container *ngSwitchCase="CustomerType.Standard">
            *
          </ng-container>
          <ng-container *ngSwitchCase="CustomerType.Premium">
            **
          </ng-container>
          <ng-container *ngSwitchCase="CustomerType.VIP">
            ***
          </ng-container>
        </ng-container>
      </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
            <p>{{customer.description}}</p>
            <p>wiek: {{customer.age}}</p>
            <p>adres: {{customer.address.street}} {{customer.address.houseNumber}}, {{customer.address.city}}</p>
            <button class="btn btn-primary" (click)="isActive = !isActive" type="button">przełącz</button>
            <button class="btn btn-primary"(click)="changeColor()" type="button">przełącz kolor</button>
            <br>
            <input type="text" [(ngModel)]="customer.name" [ngModelOptions]="{updateOn: 'blur'}"/>
        </div>
        <div class="col-sm-4">
          <div *ngIf="showPhoto; then photo else noPhoto"></div>
          <!-- powyżej najpierw ma się wyliczyć showPhoto, a później pokazać photo lub npPhoto w zależności od wyliczeń -->
            <ng-template #photo>
              <img [src]="customer.photoUrl"/>
            </ng-template>
          <ng-template #noPhoto>
            <!-- #noPhoto -> przykład zmiennej szablonowej -->
            <!-- dyrektywa ng-template nie dołącza od razu owiniętego w nim elementu do drzewa DOM -->
            <p>ukryte zdjęcie</p>
          </ng-template>
          <div classs="checkbox">
            <label><input type="checkbox" [(ngModel)]="showPhoto">Poka zdjęcie</label>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>