<div class="panel panel-default">
  <div class="panel-body">
    <select [(ngModel)]="customer" *ngIf="customers$ | async as customers else loading">
      <!-- powyższy zapis po *ngIf mówi, że po załadowaniu się observable customers$ mają się zapisać jako customers
      dopiero przypisaną zmienną można iterować ngFor (po observables nie da się iterować!!!!! dlatego jest przypisane do zmiennej)
      else loading sprawia, że dopóki nie zostanie przypisana ta zmienna, w miejscu selecta ma być ...ładowanie... -->
      <option [ngValue]="null">Wybierz klienta</option>
      <option *ngFor="let c of customers" [ngValue]="c">
        {{c.name}}
      </option>
    </select>
    <button class="btn btn-default" (click)="changeColor()">
      zmień kolor
    </button>
    <button class="btn btn-default" (click)="deleteCustomer()">
      usuń z bazy </button>
  </div>
</div>

<div *ngIf="customer">
  <cus-customer-details #details [customer]="customer" (shift)="onShift($event)"></cus-customer-details>
</div>

<ng-template #loading>
  <p>...Ładowanie...</p>
</ng-template>